::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
}