@import "variables.css";

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--darkcolor);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lightgray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}