:root {
    --darkcolor: gray;
}

body {
    font-family: Arial;
    color: white;
    background: #fffaf5;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
}

[class^="parameters-"] {
    border-style: solid;
    border-color: white;
    border-width: thin;
}

input {
    width: 100%;
    display: block;
}

.navigation, .instruments {
    padding: 10px;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 20%;
}

.navigation {
    left: 0;
    background: var(--darkcolor);
}

.instruments {
    right: 0;
    background: var(--darkcolor);
}

canvas {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: block;
    border: 1px solid #d3d3d3;
    margin: 0 auto;
    margin-top: 20px;
    /*width: 630px;*/
    height: 700px;
}

